.header {
	padding: 2rem 0;
	background-image: url("../Img/banner.jpg");
	background-size: cover;
	background-position: left center;
	height: 80vh;

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__hamburg {
		display: none;
		&:checked + ul {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}

	&__logo {
		width: 15rem;
		height: 4.5rem;
	}

	&__hamburger {
		z-index: 10;
		display: none;
		position: relative;
		transition: 0.2s;
		opacity: 0;
		visibility: hidden;
		transition: 50%;
		width: 50%;
		text-align: right;
		background-color: $color-primary;
		padding: 0.5rem;
		&--icon {
			transition: 0.2s;
			color: #fff;
			font-size: 4rem;
			font-weight: 600;
			line-height: 0.9;
			cursor: pointer;
		}
	}

	&__hum-menu {
		z-index: 10;

		list-style: none;
		text-align: left;
		position: absolute;
		transition: 0.4s;
		opacity: 0;
		visibility: hidden;
		top: 5rem;
		left: 0;
		width: 100%;
		background-color: #fff;

		&-item {
			padding: 0.2rem 1rem;
			font-size: 1.3rem;
			font-weight: 400;
			border-bottom: 1px solid rgb(197, 197, 197);
			transition: 0.2s;
			width: 95%;
			&:hover {
				background-color: $color-primary;
				color: #fff;
			}
		}

		&-link {
			text-decoration: none;
			padding: 1rem 1rem;
			display: inline-block;
			transition: 0.3s;

			color: rgb(0, 0, 0);
			&:hover {
				color: #fff;
			}
		}
	}

	&__menu {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-item {
			padding-right: 4rem;
			font-size: 1.8rem;
			font-weight: 600;
		}

		&-link {
			text-decoration: none;
			text-transform: uppercase;
			color: $color-black-light;

			&--active {
				color: $color-primary;
			}
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-left {
			flex: 1;
		}
		&-right {
			flex: 1;
		}
	}

	&__title {
		font-size: 5rem;

		&--green {
			display: block;
			color: $color-primary;
			margin: 0;
			padding: 0;
			font-weight: 600;
		}

		&--black-bold {
			display: block;
			font-weight: 800;
			margin-top: -2rem;
			padding: 0;
		}
	}

	&__text {
		width: 96%;
		font-size: 1.4rem;
		color: $color-black-light;
	}

	&__img {
		height: 90%;
		width: 90%;
	}
}
